.header-container {
    min-height:720px;
    position:relative;
    background-image: url('../../../images/chairbg.png');
    background-size: cover;
}
.header-container::after {
    min-height:720px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}